html,
body {
  background-color: papayawhip;
  font-family: sans-serif;
  margin-bottom: 5px; }
  html h1,
  body h1 {
    color: tomato; }
  html h2,
  body h2 {
    color: #ff8e7a; }
  html h3,
  body h3 {
    color: #ffb9ad; }

.Comment__li {
  list-style-type: desc; }
