.commentForm {
  width: 500px;
  margin: auto; }
  .commentForm .form__input, .commentForm .form__input-error {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    margin: 8px 0;
    outline: none; }
    .commentForm .form__input:focus, .commentForm .form__input-error:focus {
      background-color: lightblue; }
    .commentForm .form__input-error {
      border: 2px solid #555; }
  .commentForm .form__area, .commentForm .form__area-error {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    border-radius: 4px;
    font-size: 16px;
    resize: none; }
    .commentForm .form__area:focus, .commentForm .form__area-error:focus {
      background-color: lightblue; }
    .commentForm .form__area-error {
      border: 2px solid #555; }
  .commentForm .form__submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%; }
    .commentForm .form__submit:hover {
      background-color: #45a049; }
    .commentForm .form__submit-error {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      width: 100%;
      background-color: lightgrey;
      cursor: not-allowed; }
